
<div class="row center">
    <div class="col-m2-12">
        <h1 class="title">Find Footage </h1>
    </div>

    <div class="col-m2-12">
        <h3 class="subTitle">A ideia </h3>
    </div>

    <div class="col-md-12 p-3 bg-opacity-10 border border-dark box">
        <p>
            Gostaria de assistir um excelente filme hoje mas está sem ideias?
        </p>
        <p>
            E se eu te dissesse que posso te fazer recomendações de filmes diferentes, ao estilo Found Footage, você toparia?
        </p>
        <p>
            Nesse caso, que tal ter essa experiêcia?!
        </p>

    </div>

    <div class="col-m2-12">
        <h3 class="subTitle">Mas o que é um Found Footage? </h3>
    </div>

    <div class="col-md-12 p-3 bg-opacity-10 border border-dark box-light">
        <p>
            Tratam-se de filmes gravados para parecerem que são reais, muitas vezes usando cÂmeras de celular, webcams e até mesmo câmeras de segurança.
        </p>
        <p>
            Alguns exemplos bem famosos são Atividade Paranormal e A Bruxa de Blair!
        </p>
        <p>
            Gostou? Então confira!
        </p>

    </div>

    <div class="col-md-12 pad-v10">
        <a routerLink="/categorias"><button class="btn btn-dark">Quero uma recomendação</button></a>
    </div>
</div>
